@import "catppuccin.css";

* {
    font-family: "Maple Mono NF", "Sarasa Mono SC", "Inter", sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @base;
    border: 1px solid @base;
    border-radius: 10px;
    transition:
        background-color 0.5s,
        border-color 0.5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #fff;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 15px;
}

.modules-left,
.modules-right {
    padding: 0 20px;
}
.modules-center {
    padding: 0 10px;
}

#tray,
#pulseaudio,
.group-device .module,
#network,
#battery,
.group-sysinfo .module,
#clock,
#custom-swaync {
    padding: 0 10px;
}

#workspaces {
    padding: 0;
    margin: 0;
}

#workspaces button {
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button:hover {
    background: transparent;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
}

#workspaces button.active,
#workspaces button.focused {
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}

#workspaces button.urgent {
    color: @red;
    text-shadow: 0 0 8px @red;
}

#workspaces button {
    box-shadow: none;
}

#window {
    color: @text;
}

#pulseaudio {
    color: @yellow;
}
#pulseaudio.muted {
    color: @text;
}
#backlight {
    color: @peach;
}
#network {
    color: @teal;
}
#battery {
    color: @green;
}
#memory {
    color: @mauve;
}
#temperature {
    color: @maroon;
}
#cpu {
    color: @peach;
}
#custom-asusctl {
    color: @sapphire;
}
#battery.charging,
#battery.plugged {
    color: @sky;
}
#clock {
    color: @flamingo;
}
#custom-swaync {
    color: @rosewater;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @lavender;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        color: #000;
    }
}

label:focus {
    background-color: #000;
}
